<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>parent page</title>
    {% endblock %}
</head>

{% block body %}
<body>
    
    <header>
        <h3>this is header tag</h3>
    </header>

    {% block section %}
    <section>
        <article>
            <h3> this is nav tag</h3>
        </article>
    </section>
    {% endblock %}


    <footer>
        <h3>this is footer tag</h3>
</body>
{% endblock %}
</html>