<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to chats application templates file</h1>
    <h1>welcome to chat application this is {{ A.4 }} class</h1>
    <h1>welcome to chat application this is {{ "[10,20,30,40]" }}    class</h1>
    <h1>welcome to chat application this is {{ "python" }} class</h1>
    <h1>welcome to chat application this is {{"10" }} class</h1>
    <h1>welcome to chat application this is {{ "(10,20,30,40)" }}    class</h1>
    <h1>welcome to chat application this is {{ 10 }} class</h1>
    <h1>welcome to chat application this is {{ 10.25 }}    class</h1>
    <h1>welcome to chat application this is {{ B.1}}    class</h1>
    {#<h1>{{C.name}} subject teached by  {{C.trainer}}</h1>#}
</body>
</html>