<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* Style the header */
        header {
          background-color: rgb(90, 240, 135);
          padding: 15px;
          text-align: center;
          font-size: 25px;
          color: white;
        }
        </style>
</head>
<body>
    <header>
        <h2>pyspider</h2>
      </header>
</body>
</html>


